/* font-medium text-base text-button-text bg-common-btn-bg px-10 */
.common-button button{
    font-weight: 500;
    font-size: 16px;
    background-color: rgba(3, 7, 18, 0.05);
    padding: 0px 40px 0px 40px;

}